<mat-card class="example-card" appearance="outlined">
  <img
    mat-card-image
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTr_niBl2QjnXDV3fmcXW9qHWa9cjTj_ehJYg&s"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-header>
    <mat-card-title>Cristal Templado</mat-card-title>
  </mat-card-header>

  <div cols="2" rowHeight="2:1">
    <ul>
      <li>Canceles de baño</li>
      <li>Puertas templadas</li>
      <li>Fachadas comerciales</li>
      <li>Divisiones de oficina</li>
    </ul>
  </div>

  <mat-card-actions>
    <button mat-button>Cotízalo ahora</button>
  </mat-card-actions>
</mat-card>
