<section id="servicios">
  <h1 class="section-title">Nuestros Servicios</h1>
  <p class="servicios-descripcion">
    En Vidrería América nos especializamos en la instalación y venta de
    productos de la más alta calidad. Ofrecemos soluciones personalizadas para
    hogares y negocios, garantizando durabilidad y elegancia en cada proyecto.
  </p>
  <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile>
      <app-card></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card></app-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-card></app-card>
    </mat-grid-tile>
  </mat-grid-list>
</section>
